{% extends "paranoiaslappys/base.html" %}

{% block content %}

    <!-- Top Page -->
    <div class="jumbotron jumbotron-fluid jumbotron-extend">
        <div class="container-fluid jumbotron-container">
            <h1 class="top_page-copy">{{ TopPageContent.CopyText }}</h1>
            <p class="top_page-message mt-5">{{ TopPageContent.MessageText }}</p>
            <div class="top-page-icon-container mt-5">
              <a href="#" class="mx-2 top_page-icon">
                <i class="fab fa-twitter fa-2x"></i>
              </a>
              <a href="#" class="mx-2 top_page-icon">
                <i class="fab fa-facebook-f fa-2x ml-2"></i>
              </a>
              <a href="#" class="mx-2 top_page-icon">
                <i class="fab fa-instagram fa-2x ml-2"></i>
              </a>
            </div>
        </div>
    </div>

{% endblock content %}