/*All*/
body.body-font {
    font-family: 'Nunito', 'Hiragino Kaku Gothic ProN', 'Meiryo';
    letter-spacing: 0.0625em;
}

/*base.html*/
.navbar-extent{
    font-family: "Impact";
    font-weight: bold  !important;
    font-size: 1.5rem; !important;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #343a40;
    vertical-align: center;
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 0;
    text-align: center;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

/*top_page.html*/
.jumbotron-extend{
  position: relative;
  height: 95vh;
  background: url("/static/paranoiaslappys/img/top_page/top_page_back_ground.jpg") ;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

.jumbotron-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.top_page-copy{
    color: white;
    text-align: center;
    font-family: 'Impact';
    font-size: 50px;
}

.top_page-message{
    color: white;
    text-align: center;
}

.top-page-icon-container{
    text-align: center;
}

.top_page-icon {
  text-decoration: none;
  color: white;
}

.top_page-icon:hover {
  text-decoration: none;
  color: lightgray;
}

/*blog_top.html, blog_post.html*/
.page-top{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
}

.container-content{
    padding-top: 1rem !important;
}

.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: gray;
}

.post-preview > a > .post-title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: gray;
}

.btn-custom {
    background-color:#212529;
    color: #6c757d;
}

.btn-custom:hover {
    background-color: #6c757d;
}

/*blog post parts*/
.blog_title {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 4rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.sns-icons {
    padding-top: 0 !important;
    padding-left: 0 !important;
}

a.icon {
  color: #212121;
}

a.icon:hover {
  text-decoration: none;
  color: #6c757d;
}

/*#mainNav{*/
    /*background-color: #0d0d0d;*/
    /*height: 80px;*/
/*}*/

/*#mainNav .navbar-brand{*/
    /*font-family: 'Impact';*/
    /*color: white;*/
    /*font-size: 2.0rem;*/
    /*font-weight: 400;*/
    /*padding: .9rem 0;*/
/*}*/

/*#mainNav .navbar-brand:hover{*/
    /*color: lightgray;*/
/*}*/

/*#mainNav .nav-item:hover {*/
    /*color: #0d0d0d;*/
    /*outline: none;*/
    /*background-color: transparent;*/
/*}*/

/*#mainNav .nav-link {*/
    /*transition: none;*/
    /*padding: 2rem 1.5rem;*/
    /*color: white;*/
/*}*/

/*#mainNav .nav-link:hover {*/
    /*transition: none;*/
    /*padding: 2rem 1.5rem;*/
    /*color: lightgray;*/
/*}*/

/*#mainNav .navbar-toggler {*/
    /*font-size: 80%;*/
    /*padding: 0.75rem;*/
    /*color: white;*/
    /*border: 1px solid white;*/
/*}*/


/*.top-page-content{*/
    /*margin-top: 10vh;*/
    /*background: url("/static/paranoiaslappys/img/top_page/top_page_back_ground.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*height: 550px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/






/*.footer-original{*/
    /*background-color: #0d0d0d;*/
    /*color: white;*/
    /*height: 50px;*/
    /*display: flex;*/
    /*align-items: center;*/
	/*justify-content: center;*/
/*}*/


/*以下削除対象*/


.btn-custom:focus {
  background-color: #3E4551;
  color: white;
}



a.icon_custom {
  color: #bdbdbd;
}

a.icon_custom:focus, a:hover {
  text-decoration: none;
  color: #4B515D;
}










/*Gallery Modal Window*/
.modal-middle {
	margin: 5% auto;
}

.modal-img_footer {
	padding: .5em;
	text-align: center;
}

.modal-body_custom{
    position: relative;
    display: inline-block;
}

/*goods parts*/
img.card-img_custom{
    height: 200px;
}