{% extends "paranoiaslappys/base.html" %}

{% block content %}

    <!--Page Title-->
    <div class="container">
        <div class="row">
            <div class="page-top col-lg-8 col-md-12 mx-auto">
                Blog
                <hr>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container container-content">
        <div class="row">
            {% for blog in blogs %}
            <div class=" col-lg-8 col-md-12 mx-auto">
                <div class="post-preview">
                    <a href="{% url 'blog:blog_post' blog.id %}">
                        <h2 class="post-title">
                            {{ blog.Title }}
                        </h2>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">{{ blog.Author }}</a>
                            on {{ blog.Date }}</p>
                    <hr>
                </div>
            </div>
            {% endfor %}
            <!-- Pager -->
            <div class=" col-lg-8 col-md-12 mx-auto">
                <div class="clearfix">
                    <a class="btn btn-custom float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <br>

{% endblock content %}